

<div class="navbar">    
  <h1 style="background-color:LightGray;">
      {{title}}
  </h1>
    
  <a routerLink="/crearDestinatario">CrearDestinatario</a>
  <a routerLink="/historialTransferencias">Historial de Transferencias</a>
  <a routerLink="/buscarDestinatario">Buscar Destinatario</a>
  <a (click)="logout()">Cerrar Session</a>
</div>
<router-outlet></router-outlet>
