<h1>{{title}}</h1>
<div class="navbar">

</div>
<form [formGroup]="formLogin" (ngSubmit)="login()">
    <h1>{{logins}}</h1>
    <div class="container">
        <label>Usuario</label>
        <input type="text" formControlName="username" id="username" [(ngModel)]="usuario.username"
        name="username" required>
         <label>Contraseña</label>
        <input type="password" formControlName="password" id="password" [(ngModel)]="usuario.password"
        name="password" required>
        <button class="button">Ingresar Sesion</button>
    </div>
</form>