<app-home></app-home>
<br>
<div>
  <h1>Busque el Destinatario</h1>
</div>
<form class="row g-3">

    <div class="col-auto">
      <input class="form-control" type="text" id="rut" name="rut"[(ngModel)]="rut">
    </div>
    <div class="col-auto">
      <button class="btn btn-dark mb-3" (click)="buscarDestinatario()">Seleccion el Rut</button>
    </div>
   
    
</form>



<div *ngFor="let desti of destinatarioSeleccionado ">
  <li>{{desti.nombre}}</li>
</div>






<app-crear-transferencia></app-crear-transferencia>