<app-home></app-home>
<h1>Historial de Transferencias</h1>

  
<table  class="table"
*ngFor="let historial of transferencias">
<thead  class="thead-dark">
    <tr><th scope="col">Destinatario</th>
        <th scope="col">Monto</th>
        <th scope="col">Fecha</th>  
    </tr>
</thead>
<tbody>
    <tr>
        <td scope="row">{{historial.destinatario}}</td>
        <td scope="row">{{historial.monto}}</td>
        <td scope="row"> {{historial.fecha}}</td>
    </tr>
</tbody>
</table>